social/_drafts/make-scenario-blueprint.json
{
  "name": "Able social — daily cross-post (IG/TikTok/LinkedIn)",
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:searchRows",
      "version": 2,
      "parameters": {
        "__IMTCONN__": "<<connection-id-for-google-sheets>>"
      },
      "mapper": {
        "mode": "select",
        "spreadsheetId": "1DnQXWKcbGLMHvzxjk9yjQKDhzOGTm9Wph27ly7tHNlA",
        "sheetId": "1. Master Sheet Generation",
        "includesHeaders": true,
        "filter": [
          [
            {
              "a": "post_date",
              "o": "text:equal",
              "b": "{{formatDate(now; \"YYYY-MM-DD\"; \"America/Denver\")}}"
            },
            {
              "a": "status",
              "o": "text:notequal",
              "b": "Posted"
            }
          ]
        ],
        "limit": "1"
      },
      "metadata": {
        "designer": { "x": 0, "y": 0 }
      }
    },
    {
      "id": 2,
      "module": "google-drive:searchFiles",
      "version": 4,
      "parameters": {
        "__IMTCONN__": "<<connection-id-for-google-drive>>"
      },
      "mapper": {
        "select": "fromAll",
        "query": "name = '{{1.filename}}' and trashed = false",
        "spaces": "drive",
        "orderBy": "createdTime desc",
        "pageSize": "1"
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 }
      }
    },
    {
      "id": 3,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": null,
      "metadata": {
        "designer": { "x": 600, "y": 0 }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 4,
              "module": "instagram-business:CreatePostPhoto",
              "version": 1,
              "parameters": {
                "__IMTCONN__": "<<connection-id-for-instagram-business>>"
              },
              "filter": {
                "name": "format == single|brandscript",
                "conditions": [
                  [
                    {
                      "a": "{{1.format}}",
                      "o": "text:equal",
                      "b": "single"
                    }
                  ],
                  [
                    {
                      "a": "{{1.format}}",
                      "o": "text:equal",
                      "b": "brandscript"
                    }
                  ]
                ]
              },
              "mapper": {
                "image_url": "{{2.webContentLink}}",
                "caption": "{{1.caption_ig}}",
                "ig_user_id": "<<set-from-IG-business-account-id>>"
              },
              "metadata": { "designer": { "x": 900, "y": -300 } }
            },
            {
              "id": 5,
              "module": "instagram-business:CreateAReelPost",
              "version": 1,
              "parameters": {
                "__IMTCONN__": "<<connection-id-for-instagram-business>>"
              },
              "filter": {
                "name": "format == reel",
                "conditions": [
                  [
                    {
                      "a": "{{1.format}}",
                      "o": "text:equal",
                      "b": "reel"
                    }
                  ]
                ]
              },
              "mapper": {
                "video_url": "{{2.webContentLink}}",
                "caption": "{{1.caption_ig}}",
                "ig_user_id": "<<set-from-IG-business-account-id>>",
                "share_to_feed": true
              },
              "metadata": { "designer": { "x": 900, "y": -150 } }
            },
            {
              "id": 6,
              "module": "instagram-business:CreateCarouselPhoto",
              "version": 1,
              "parameters": {
                "__IMTCONN__": "<<connection-id-for-instagram-business>>"
              },
              "filter": {
                "name": "format == carousel",
                "conditions": [
                  [
                    {
                      "a": "{{1.format}}",
                      "o": "text:equal",
                      "b": "carousel"
                    }
                  ]
                ]
              },
              "mapper": {
                "ig_user_id": "<<set-from-IG-business-account-id>>",
                "caption": "{{1.caption_ig}}",
                "media": [
                  {
                    "image_url": "<<resolve-each-slide-fileId-via-Drive-list-folder>>"
                  }
                ]
              },
              "metadata": { "designer": { "x": 900, "y": 0 } }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 7,
              "module": "make-nodes-late:addTiktokPost",
              "version": 1,
              "parameters": {
                "__IMTCONN__": "<<connection-id-for-tiktok>>"
              },
              "filter": {
                "name": "format == reel (TikTok video only in v1)",
                "conditions": [
                  [
                    {
                      "a": "{{1.format}}",
                      "o": "text:equal",
                      "b": "reel"
                    }
                  ]
                ]
              },
              "mapper": {
                "video_url": "{{2.webContentLink}}",
                "caption": "{{1.caption_tt}}",
                "privacy": "PUBLIC_TO_EVERYONE",
                "disable_comments": false,
                "disable_duet": false,
                "disable_stitch": false
              },
              "metadata": { "designer": { "x": 900, "y": 150 } }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 8,
              "module": "linkedin:CreateCompanyImagePost",
              "version": 2,
              "parameters": {
                "__IMTCONN__": "<<connection-id-for-linkedin>>"
              },
              "filter": {
                "name": "format != reel (image-style posts)",
                "conditions": [
                  [
                    {
                      "a": "{{1.format}}",
                      "o": "text:notequal",
                      "b": "reel"
                    }
                  ]
                ]
              },
              "mapper": {
                "company_id": "<<set-from-LinkedIn-company-page-id>>",
                "text": "{{1.caption_li}}",
                "image_url": "{{2.webContentLink}}",
                "visibility": "PUBLIC"
              },
              "metadata": { "designer": { "x": 900, "y": 300 } }
            },
            {
              "id": 9,
              "module": "linkedin:createOrganizationVideoPost",
              "version": 2,
              "parameters": {
                "__IMTCONN__": "<<connection-id-for-linkedin>>"
              },
              "filter": {
                "name": "format == reel (video on LinkedIn)",
                "conditions": [
                  [
                    {
                      "a": "{{1.format}}",
                      "o": "text:equal",
                      "b": "reel"
                    }
                  ]
                ]
              },
              "mapper": {
                "company_id": "<<set-from-LinkedIn-company-page-id>>",
                "text": "{{1.caption_li}}",
                "video_url": "{{2.webContentLink}}",
                "visibility": "PUBLIC"
              },
              "metadata": { "designer": { "x": 900, "y": 450 } }
            }
          ]
        }
      ]
    },
    {
      "id": 10,
      "module": "google-sheets:updateRow",
      "version": 2,
      "parameters": {
        "__IMTCONN__": "<<connection-id-for-google-sheets>>"
      },
      "mapper": {
        "spreadsheetId": "1DnQXWKcbGLMHvzxjk9yjQKDhzOGTm9Wph27ly7tHNlA",
        "sheetId": "1. Master Sheet Generation",
        "rowNumber": "{{1.__ROW_NUMBER__}}",
        "values": {
          "status": "Posted",
          "ig_url": "{{ifempty(4.permalink; ifempty(5.permalink; 6.permalink))}}",
          "tt_url": "{{ifempty(7.share_url; \"skipped: non-video\")}}",
          "li_url": "{{ifempty(8.activity_urn; 9.activity_urn)}}"
        }
      },
      "metadata": { "designer": { "x": 1200, "y": 0 } }
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    }
  },
  "scheduling": {
    "type": "cron",
    "cron": "0 15 * * *",
    "interval": 86400
  }
}
