social/_drafts/make-scenario-blueprint.json
{
  "name": "Able social — daily cross-post (Phase 4 v1)",
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:filterRows",
      "version": 2,
      "parameters": { "__IMTCONN__": 7727156 },
      "mapper": {
        "from": "drive",
        "limit": "1",
        "filter": [
          [
            { "a": "C", "b": "{{formatDate(now; \"YYYY-MM-DD\")}}", "o": "text:equal" },
            { "a": "W", "b": "Posted",                              "o": "text:notequal" }
          ]
        ],
        "orderBy": "__ROW_NUMBER__",
        "sheetId": "1. Master Sheet Generation",
        "fieldType": "string",
        "sortOrder": "asc",
        "spreadsheetId": "1DnQXWKcbGLMHvzxjk9yjQKDhzOGTm9Wph27ly7tHNlA",
        "tableFirstRow": "A1:AB1",
        "includesHeaders": true,
        "valueRenderOption": "FORMATTED_VALUE",
        "dateTimeRenderOption": "FORMATTED_STRING"
      },
      "metadata": {
        "designer": { "x": 0, "y": 0 }
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": null,
      "metadata": {
        "designer": { "x": 300, "y": 0 }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 3,
              "module": "instagram-business:CreatePostPhoto",
              "version": 1,
              "parameters": { "__IMTCONN__": 7816528 },
              "filter": {
                "name": "Image formats",
                "conditions": [
                  [{ "a": "{{1.`D`}}", "o": "text:equal", "b": "single" }],
                  [{ "a": "{{1.`D`}}", "o": "text:equal", "b": "brandscript" }],
                  [{ "a": "{{1.`D`}}", "o": "text:equal", "b": "carousel" }]
                ]
              },
              "mapper": {
                "caption": "{{1.`N`}}",
                "accountId": "",
                "image_url": ""
              },
              "metadata": {
                "designer": { "x": 600, "y": -300 }
              }
            },
            {
              "id": 4,
              "module": "instagram-business:CreateAReelPost",
              "version": 1,
              "parameters": { "__IMTCONN__": 7816528 },
              "filter": {
                "name": "Reel format",
                "conditions": [
                  [{ "a": "{{1.`D`}}", "o": "text:equal", "b": "reel" }]
                ]
              },
              "mapper": {
                "caption": "{{1.`N`}}",
                "accountId": "",
                "video_url": "",
                "share_to_feed": true
              },
              "metadata": {
                "designer": { "x": 600, "y": -150 }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 5,
              "module": "facebook-pages:CreatePostWithPhotos",
              "version": 6,
              "parameters": { "__IMTCONN__": 7816528 },
              "filter": {
                "name": "Image formats (FB)",
                "conditions": [
                  [{ "a": "{{1.`D`}}", "o": "text:notequal", "b": "reel" }]
                ]
              },
              "mapper": {
                "page_id": "",
                "message": "{{1.`Q`}}",
                "photos": [
                  { "type": "url", "url": "" }
                ]
              },
              "metadata": {
                "designer": { "x": 600, "y": 100 }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 6,
              "module": "linkedin:CreateCompanyImagePost",
              "version": 2,
              "parameters": { "__IMTCONN__": 8569387 },
              "filter": {
                "name": "Image formats (LinkedIn)",
                "conditions": [
                  [{ "a": "{{1.`D`}}", "o": "text:notequal", "b": "reel" }]
                ]
              },
              "mapper": {
                "company_id": "",
                "text": "{{1.`P`}}",
                "image_url": "",
                "visibility": "PUBLIC"
              },
              "metadata": {
                "designer": { "x": 600, "y": 300 }
              }
            },
            {
              "id": 7,
              "module": "linkedin:createOrganizationVideoPost",
              "version": 2,
              "parameters": { "__IMTCONN__": 8569387 },
              "filter": {
                "name": "Reel format (LinkedIn)",
                "conditions": [
                  [{ "a": "{{1.`D`}}", "o": "text:equal", "b": "reel" }]
                ]
              },
              "mapper": {
                "company_id": "",
                "text": "{{1.`P`}}",
                "video_url": "",
                "visibility": "PUBLIC"
              },
              "metadata": {
                "designer": { "x": 600, "y": 450 }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 8,
              "module": "google-sheets:updateRow",
              "version": 2,
              "parameters": { "__IMTCONN__": 7727156 },
              "mapper": {
                "from": "drive",
                "spreadsheetId": "1DnQXWKcbGLMHvzxjk9yjQKDhzOGTm9Wph27ly7tHNlA",
                "sheetId": "1. Master Sheet Generation",
                "rowNumber": "{{1.__ROW_NUMBER__}}",
                "values": {
                  "22": "Posted",
                  "23": "{{ifempty(3.permalink; 4.permalink)}}",
                  "24": "{{5.id}}",
                  "25": "manual",
                  "26": "{{ifempty(6.activity; 7.activity)}}",
                  "27": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}"
                },
                "tableFirstRow": "A1:AB1",
                "includesHeaders": true,
                "valueInputOption": "USER_ENTERED"
              },
              "metadata": {
                "designer": { "x": 600, "y": 600 }
              }
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    }
  }
}
