social/_drafts/scenario-linkedin-poster-blueprint.json
{
  "name": "Able LinkedIn poster — Tue/Thu",
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:filterRows",
      "version": 2,
      "parameters": {
        "__IMTCONN__": 7861260
      },
      "mapper": {
        "from": "drive",
        "limit": "1",
        "filter": [
          [
            {
              "a": "AC",
              "b": "approved",
              "o": "text:equal"
            },
            {
              "a": "AE",
              "b": "",
              "o": "text:equal"
            },
            {
              "a": "AD",
              "b": "{{formatDate(now; \"YYYY-MM-DD\")}}",
              "o": "date:lessorequal"
            }
          ]
        ],
        "orderBy": "__ROW_NUMBER__",
        "sheetId": "Sheet1",
        "fieldType": "string",
        "sortOrder": "asc",
        "spreadsheetId": "1sJvQ3PtEbeizyJLVhEFv3-YgOBZGuiwzb3EdkKXv3ro",
        "tableFirstRow": "A1:ZZ1",
        "includesHeaders": true,
        "valueRenderOption": "FORMATTED_VALUE",
        "dateTimeRenderOption": "FORMATTED_STRING"
      }
    },
    {
      "id": 2,
      "module": "http:DownloadFile",
      "version": 4,
      "parameters": {
        "authenticationType": "noAuth"
      },
      "mapper": {
        "url": "https://i.ytimg.com/vi/{{1.`13`}}/maxresdefault.jpg",
        "shareCookies": false,
        "stopOnHttpError": false
      }
    },
    {
      "id": 3,
      "module": "linkedin:CreateCompanyImagePost",
      "version": 2,
      "parameters": {
        "__IMTCONN__": 8569387
      },
      "mapper": {
        "data": "{{2.data}}",
        "method": "upload",
        "altText": "Companion image for {{1.`2`}}",
        "content": "{{1.`27`}}\n\nArticle: https://becomeable.app{{1.`1`}}\nVideo: https://youtu.be/{{1.`13`}}",
        "fileName": "{{2.fileName}}",
        "visibility": "PUBLIC",
        "organization": "urn:li:organization:115764032",
        "feedDistribution": "MAIN_FEED",
        "isReshareDisabledByAuthor": false
      }
    },
    {
      "id": 5,
      "module": "google-sheets:updateRow",
      "version": 2,
      "parameters": {
        "__IMTCONN__": 7861260
      },
      "mapper": {
        "from": "drive",
        "mode": "select",
        "values": {
          "linkedin_url": "{{3.id}}",
          "linkedin_status": "posted",
          "linkedin_posted_date": "{{formatDate(now; \"YYYY-MM-DD\")}}"
        },
        "sheetId": "Sheet1",
        "rowNumber": "{{1.__ROW_NUMBER__}}",
        "spreadsheetId": "1sJvQ3PtEbeizyJLVhEFv3-YgOBZGuiwzb3EdkKXv3ro",
        "includesHeaders": true,
        "useColumnHeaders": true,
        "valueInputOption": "USER_ENTERED"
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "dlq": false,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    },
    "designer": {
      "orphans": []
    }
  },
  "scheduling": {
    "type": "indefinitely",
    "interval": 60,
    "restrict": [
      {
        "days": [2, 4],
        "time": ["09:00", "09:01"],
        "months": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
      }
    ]
  },
  "notes": "Module 4 (linkedin:MakeAPICall for comments) was removed 2026-05-10 after the LinkedIn socialActions/comments endpoint returned 403 partnerApiSocialActions.CREATE — Make's LinkedIn connection does not hold Community Management API partner permission, and no dedicated 'create comment' module exists in the integration. Workaround: article + video URLs are appended directly to Module 3's content. Prompts in scripts/draft-linkedin-*.py updated to point CTAs to 'below' instead of 'in the comments'."
}
