social/_drafts/scenario-tt-digest-blueprint.json
{
  "_note": "TikTok weekly digest scenario. Runs every Sunday 9am Mountain (16:00 NY). Pulls next 7 days of TT-bound rows from master sheet, sends Paul one HTML email with caption + Drive media link per day. Paul batch-pastes into TikTok Studio (https://studio.tiktok.com).",
  "_create_via": "mcp__claude_ai_Make__scenarios_create — teamId 1933069, folderId 234788",
  "blueprint": {
    "flow": [
      {
        "id": 1,
        "module": "google-sheets:filterRows",
        "version": 2,
        "parameters": { "__IMTCONN__": 7861260 },
        "mapper": {
          "from": "drive",
          "spreadsheetId": "1FcBz6Fqk1QHHj0-r-lly6DXUKHtLX5d83vcQHbi9pFY",
          "sheetId": "Sheet1",
          "tableFirstRow": "A1:BZ1",
          "includesHeaders": true,
          "valueRenderOption": "FORMATTED_VALUE",
          "dateTimeRenderOption": "FORMATTED_STRING",
          "fieldType": "string",
          "filter": [
            [
              { "a": "C", "b": "{{formatDate(now; \"YYYY-MM-DD\")}}", "o": "date:moreorequal" },
              { "a": "C", "b": "{{formatDate(addDays(now; 6); \"YYYY-MM-DD\")}}", "o": "date:lessorequal" },
              { "a": "Z", "b": "manual", "o": "text:equal" }
            ]
          ],
          "orderBy": "C",
          "sortOrder": "asc",
          "limit": "50"
        },
        "metadata": { "designer": { "x": 0, "y": 0 } }
      },
      {
        "id": 2,
        "module": "google-drive:searchForFilesFolders",
        "version": 4,
        "parameters": { "__IMTCONN__": 7768388 },
        "mapper": {
          "limit": "1",
          "query": "{{1.`K`}}",
          "select": "map",
          "folderId": "/1qb5TRHy5hvzeYwcNtImt5HugWm0FVX0E",
          "operator": "=",
          "retrieve": "file",
          "searchType": "title"
        },
        "metadata": { "designer": { "x": 300, "y": 0 } }
      },
      {
        "id": 3,
        "module": "builtin:TextAggregator",
        "version": 1,
        "feeder": 1,
        "mapper": {
          "rowSeparator": "other",
          "rowSeparatorOther": "\n",
          "value": "<h3 style=\"margin-bottom:4px\">{{1.`C`}} ({{1.`B`}}) · {{1.`D`}} · {{1.`F`}}</h3><p style=\"margin:0 0 4px 0;color:#555;font-size:13px\">{{1.`I`}}</p><p style=\"margin:6px 0\"><strong>Caption (TikTok):</strong></p><pre style=\"background:#f6f6f6;padding:10px;border-radius:6px;white-space:pre-wrap\">{{1.`O`}}</pre><p><a href=\"https://drive.google.com/file/d/{{2.id}}/view\">Open media in Drive →</a></p><hr style=\"margin:20px 0;border:0;border-top:1px solid #eee\">"
        },
        "metadata": { "designer": { "x": 600, "y": 0 } }
      },
      {
        "id": 4,
        "module": "google-email:ActionSendEmail",
        "version": 1,
        "parameters": { "account": 7727156 },
        "mapper": {
          "to": ["pauljohnson912@gmail.com"],
          "subject": "Able TT digest · week of {{formatDate(now; \"YYYY-MM-DD\")}}",
          "html": "<p>Open <a href=\"https://studio.tiktok.com\">TikTok Studio</a> — paste each caption + upload media. Up to 10 days can be scheduled at once.</p><p>Once posted, replace the row's <code>tt_url</code> in the master sheet with the actual TT URL so this digest doesn't list it again next week.</p><hr>{{3.text}}<hr><p style=\"color:#888;font-size:12px\">Generated by scenario \"Able TT digest\" · weekly Sunday run</p>"
        },
        "metadata": { "designer": { "x": 900, "y": 0 } }
      }
    ],
    "metadata": {
      "instant": false,
      "version": 1,
      "designer": { "orphans": [] },
      "scenario": {
        "dlq": false,
        "dataloss": false,
        "maxErrors": 3,
        "autoCommit": true,
        "roundtrips": 1,
        "sequential": false,
        "confidential": false,
        "freshVariables": false,
        "autoCommitTriggerLast": true
      }
    }
  },
  "scheduling": {
    "type": "indefinitely",
    "interval": 60,
    "restrict": [
      {
        "days": [0],
        "time": ["16:00", "16:01"],
        "months": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
      }
    ]
  }
}
